body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282c34;
    color: white;
}

.scene {
    width: max(var(--width),700px);
    height: var(--heigth);
    visibility: hidden;
    display: none;
   
}
.active {
    visibility: visible;
    display: block;
}

.dam-game {
    width: max(var( --width ),700px);
    height: var(--heigth);
    min-width: 700px;
    min-height: 600px;
   /* box-sizing: border-box;*/
    border: 1px solid black;
    margin: 0 auto;
    font-size: 1.5em; /* Texto grande */


}

button {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
}

.cell.red { background-color: red; }
.cell.yellow { background-color: yellow; }

#fin img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
