#config {
    height: 100%;
    width: 100%;
}

#config > div {
    display: grid;
    grid-template-areas: "configheader configheader"
                          "configplayer1 configplayer2"
                          "configfooter configfooter";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 10fr 1fr;
    border: 2px solid black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

#configheader {
    grid-area: configheader;
    text-align: center;
    background-image: url("/imgs/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#configplayer1, #configplayer2 {
    box-sizing: border-box;
    padding: 1vh;
}

#configfooter {
    grid-area: configfooter;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(2vh, 20px) max(2vh, 20px);
}

#imageList1, #imageList2 {
    display: flex;
    margin: 1vh auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#imageList1 div, #imageList2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
}

#imageList1 img, #imageList2 img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#imageList1 p, #imageList2 p {
    margin: 0;
    text-align: center;
}

#imageList1 img:hover, #imageList2 img:hover {
    border: 2px solid black;
}

#buttonResetConfiguracion {
    background-color: orange;
}

#buttonAceptarConfiguracion {
    background-color: #007bff;
}

#buttonAceptarConfiguracion, #buttonResetConfiguracion {
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

#buttonAceptarConfiguracion:disabled {
    background-color: gray;
}

.confignombre {
    display: flex;
    flex-direction: column;
    align-items: center;
}